body {
	padding: 0px;
	margin: 0px;
	background: #ffffff !important;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
}

* {
	// font-family: "Lato", sans-serif;
}
.ui.dimmer {
	background-color: transparent !important;
}
