.dashboard {
   

    

    button.register {
    background: #6FCF97;
    border-radius: 50px;
    font-family: Roboto;
    font-style: normal;
    // font-weight: bold;
    font-size: 18px;
    // line-height: 23px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(39, 174, 96, 0.5);
    color: #FFFFFF;
    margin-bottom: 3rem;
}
}