.transections {
	h2 {
		font-family: Lato !important;
		font-style: normal !important;
		font-weight: bold !important;
		font-size: 30px !important;
		line-height: 36px !important;
		color: #333333 !important;
		margin-bottom: 2rem;

		.sub.header {
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			margin-top: 1rem;
			color: #4f4f4f;
		}
	}

	.ui.table {
		border: none;
		border-radius: 0px;

		th {
			border-radius: 0px;
			background: #f2994a;
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 15px;

			color: #ffffff;
		}

		td {
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			color: #4f4f4f;
		}
	}
	.transactionId {
		&:hover {
			color: blue !important;
			cursor: pointer;
		}
	}
}
